@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #e1e1e1;
    border-bottom: 1px solid #c6c6c8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    padding: 10px;
    margin: 10px;
    font-size: 21px;
}

.header-profile {
    flex-direction: row;
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    align-content: center;
}

body {
    background-color: whitesmoke;
}

.register-page {
  width: 360px;
  height: 340px;
  margin: auto;
  margin-top: 200px;
  background-color:white;
  border-radius: 5%;
}

h1 {
    text-align: center;
    padding-top: 15px;
}

label {
    text-align: center;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

p {
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
}

a {
    text-decoration: none;
}