@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:whitesmoke;
    min-width: 340px;
}

header {
    background-color: rgb(233, 233, 233);
    border-bottom: 1px solid #c6c6c8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    padding: 10px;
    margin: 10px;
    font-size: 21px;
}

.header-links {
    flex-direction: row;
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    align-content: center;
}

.header-links__signin, .header-links__signup, .header-links__exit, .header-links__username {
    margin-left: 1rem;
}

.container {
    border-radius: 10px;
    background-color:white;
    margin: 12.5% auto;
    padding: 25px;
    width: 30%;
}

.login-page__header { 
    text-align: center;
    padding-top: 5px;
}

.login-form {
    padding-top: 25px;
    padding-bottom: 15px;
}

.form__username {
    display: flex;
    margin-bottom: 5px;
}

.form__input-username {
    display: flex;
    width: 96.5%;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 7px;
}

.form__password {
    display: flex;
    margin-bottom: 5px;
}

.form__input-password {
    display: flex;
    width: 96.5%;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px;
}

.form__signin {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
}

.message {
    text-align: center;
    font-size: 15px;
}

a {
    text-decoration: none;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 1000px) {
    .container {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .header-links__exit, .header-links__username {
        display: none;
    }
    .modal-content {
        width: 85%;
    }
}